body{
    font-family: 'Muli', sans-serif;
}

p{
    color: rgb(117, 117, 117);
}

.header{
    height: 100vh;
    background-image: url("../images/header-background-bearbeitet.jpg");
    background-size: cover;
    background-position: 50% 62%;
}

.header-picture{
    float:left;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 25px; 
    margin-right: 20px;
    text-shadow: 0px 0px 3px black;
}

.header-navigation-links{
    color: white;
    float: right; 
    margin-top: 50px;
}

.header-brand{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 200%;
    display: block;
    margin-top: -7%;
    text-shadow: 0px 0px 3px black;
}

.header-brand-wrapper{
    float: left;
    margin-top: 50px;
}

.header-navigation-links li {
    float: left;
    list-style-type: none;
    margin-left: 26px;
    text-shadow: 0px 0px 3px black;
    font-size: 100%;
}


.slogan{
    padding-top: 30%;
    text-shadow: 0px 0px 3px black;
    text-align: center;
}

.slogan-top{
    color:white;
    font-size: 300%;
    font-weight: lighter;
}

.slogan-under{
    color:white;
    font-size: 350%;
    font-weight: bold;
}
.slogan-button{
    color:white;
    text-shadow: 0px 0px 3px black;
    margin-top: 30px;
}

.slogan-button:hover{
    color:white;
    text-shadow: 0px 0px 3px black;
}




.service{
    padding-top: 100px;
    padding-bottom: 75px;
}

.service-title{
    font-weight: lighter;
    color: rgb(30, 30, 30);
}

.service p {
    line-height: 200%;
}

.service-icon{
    text-align: center;
    font-size: 250px;
    color: darkgrey;
    padding-top: 50px;
    margin-bottom: -20%;
    margin-top: -10%;
}

.service-gray{
    background-color: rgb(249, 249, 249);
}

.featues{
    padding-top: 100px;
    padding-bottom: 85px;
}

.feature-icon{
    width: 70px;
    height: 65px;
    background-color: black;
    border-radius: 35px;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom:5px;
    float: left;
}

.feature-text{
    margin-left: 90px;
}

.feature-text h5{
    margin-bottom: 10px;
    font-size: 150%;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.clients{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(249, 249, 249);
}

.clients-heading{
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}

.clients-sub-heading{
    text-align: center;
}

.image{
    width: 100%;
    border-radius: 10000px;
    border: 5px solid white;
}

.client-quote{
    border: 2px solid rgb(235, 235, 235);
    background-color: white;
    padding-left: 75px;
    padding-top: 35px;
    padding-bottom: 45px;
    padding-right: 75px;
    border-radius: 3px;
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
}

.client-quote p{
    margin-bottom: 5px;
}

.client-author{
    font-size: 80%;
    font-style: normal;
    color: rgb(119, 147, 197);
}